.busqueda {
    background-color: #24272A;
    // ojo con la prolijidad en tu css: recorda dejar un espacio entre el selector y la llave de apertura
    h2{
        padding: 30px;
        color: white;
    }
}