.link-detalle {
    color: white;
    text-decoration: none;
    font-size: 25px;
    .icono {
        color: lightblue;
        margin-left: 10px;
    }
}
.carousel {
    width: 80%;
    padding: 20px;
}