.carousel {
    margin-top: 20px;
    .link-detalle {
        color: white;
        text-decoration: none;
        font-size: 25px;
        margin-left: 30px;
        .icono {
            color: lightblue;
            margin-left: 10px;
        }
    }
    .contenedor-carousel {
        padding: 20px;
        margin: 20px;
       }

}
