@import "../mixins";


.contenedor-componenete-preview {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #24272A;
    .link-detalle {
        color: white;
        text-decoration: none;
        font-size: 25px;
        margin: 10px;
        .icono {
            color: lightblue;
            margin-left: 10px;
        }
    }
    .contenedor-tarjetas-componente-preview {
        @include centrado($direction: row);
        width: 100%;
    
    }
}

