@import "../mixins";


.contenedor-componente-completo {
    width: 100%;
    background-color: #24272A;
    padding: 20px;
    h2 {
        color: white;
    }
    .contenedor-tarjetas-componente-completo {
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
    
    }

}

