.contenedor-detalle{
    background-color: #24272A;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header-detalle {
        width: 100%;
        height: 500px;
    }

    .contenedor-links-detalle{
        margin: 20px;
        display: flex;
        justify-content: center;
        .link-detalle {
            margin: 5px;
            font-size: 30px;
            font-weight: bolder;
            color: white;
            text-decoration: none;
        }
        .link-detalle:hover {
            color: lightblue;
        }
    }
    .contenedor-detalle-contenido {
        width: 70%;
        display: flex;
        margin: 50px;
        .contenedor-detalle-contenido-texto {
        margin-left: 20px;
            .texto-detalle-contenedor-array {
                display: flex;
                p {
                    display: inline;
                    margin: 2px;
                }
            }

        }
        .contenedor-detalle-contenido-redes {
            ul {
                list-style: none;
                display: flex;
                padding: 0px;
                li a {
                    color: white;
                    margin: 5px;
                    font-size: 30px;
                }
                li a:hover {
                    color: lightblue;
                }
            }
        }
        
    }
}
