.contenedor-links-detalle{
    margin: 20px;
    display: flex;
    justify-content: center;
    .link-detalle {
        margin: 5px;
        font-size: 30px;
        font-weight: bolder;
        color: white;
        text-decoration: none;
    }
    .link-detalle:hover {
        color: lightblue;
    }
}