.seccion-lista-completa {
    background-color: #24272A;
    h2 {
        color: white;
        padding: 20px;
        font-size: 30px;
        font-weight: 400;
    }
    .paginado{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        button{
            background-color: lightblue;
            border: none;
            padding: 10px;
            margin: 10px;
            border-radius: 15px;
        }
    }
} 