.tarjeta {
    width: 80%;
    margin: 5px; 
    padding: 5px;
    color: white;
    font-size: 12px;
    .imagen{
        width: 100%;
        overflow: hidden;
        transition: 0.3s;
    }
    h3 {
        font-size: 20px;
    }
}

.imagen:hover {
    transform: scale(1.1);
}