.tarjeta {
    width: 90%;
    margin: 10px; 
    padding: 5px;
    color: white;
    font-size: 12px;
    .imagen{
        width: 100%;
        overflow: hidden;
        transition: 0.3s;
    }
}

.imagen:hover {
    transform: scale(1.1);
}