.tarjeta-episodio {
    width: 20%;
    padding: 20px;
    margin: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    .contenedor-titulo-tarjeta-episodio {
        display: flex;
        h3 {
            margin: 2px;
        }
        .numero-tarjeta-episodio {
            color: lightblue;
        }
        
    }
}