.link-tarjeta {
    text-decoration: none;
    .tarjeta {
        width: 80%;
        margin: 5px; 
        padding: 5px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .imagen{
            width: 100%;
            overflow: hidden;
            transition: 0.3s;
        }
        h3 {
            font-size: 20px;
            margin-top: 30px;
            font-weight: 200;
        }
    }
    
    .imagen:hover {
        transform: scale(1.1);
    }

}